body {
    background-image: url(../images/light-grey-terrazzo.png)
}

.fa-code {
    font-size: 70px;
    padding-top: 20px;
}

.name-tag {
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.email-link {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.fa-linkedin {
    font-size: 50px;
    padding-top: 20px;
    padding-left: 30px;
}

.fa-github-square {
    font-size: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-newspaper {
    font-size: 50px;
padding-top: 20px;
}

.about-me {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.carousel-header {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-top: 5px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

